:root {
  background-color: #292d3c;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  font-weight: 400;
  line-height: 1.5;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.title {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #bb99ff;
  font-weight: 600;
  font-size: 2rem;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1.2rem;
}

p {
  margin-top: 0;
  margin-bottom: 1em;
}

.stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin-bottom: 0.75rem;
}

.stats dt {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
}

.stats dd {
  margin-bottom: 0.5em;
  margin-left: 0;
}

.tag {
  display: inline-block;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
  border-radius: 0.2em;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.2em 0.5em;
  color: #fff;
  font-size: 0.8rem;
}

.tag:last-child {
  margin-right: 0;
}

button {
  cursor: pointer;
}

button.tag:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

*:focus-visible {
  outline: 2px solid #bb99ff;
  outline-offset: 0.25rem;
}

.description h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1.2rem;
}

.description h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1rem;
}

.description h4 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 0.9rem;
}

.description h5 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 0.8rem;
}

.description p {
  margin-top: 0;
  margin-bottom: 1em;
}

.description ul {
  margin-top: 0;
  margin-bottom: 1em;
  padding-left: 1.5em;
  list-style: disc;
}

.description li {
  margin-bottom: 0.15em;
}

.description b,
.description strong {
  font-weight: 600;
}

.description em,
.description i {
  font-style: italic;
}

.description table {
  margin-bottom: 1em;
  border: 1px solid #292d3c;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #232632;
  font-size: 0.9em;
}

.description th {
  font-weight: 600;
}

.description th,
.description td {
  border: 2px solid #292d3c;
  padding: 0.25em 0.5em;
}

.levels {
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border-collapse: collapse;
  border-spacing: 0;
  background: #232632;
  width: fit-content;
}

.levels th {
  padding: 0.2rem 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8em;
  text-align: center;
}

.levels td {
  padding: 0.2rem 1rem;
}

.levels td:first-child {
  text-align: center;
}

.levels tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}
