@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  color: var(--text-color);
}

.title {
  @apply mb-4 mt-3 text-4xl text-primary;
}

.subtitle {
  @apply mb-3 mt-5 text-2xl;
}

.description {
  @apply prose prose-neutral dark:prose-invert;
}

.search-results {
  @apply p-1 pr-2;
}

.search-item {
  @apply mb-2 block w-full cursor-pointer rounded border-none bg-none p-2 text-left text-base outline-none duration-100 ease-out hover:bg-muted;
}

.stats {
  @apply grid gap-2;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

.stats dt {
  @apply text-sm text-disabled;
}

.tag {
  @apply mb-2 mr-2 inline-block rounded-sm bg-disabled px-2 py-1 text-sm last:mr-0;
  color: var(--secondary-text-color);
}

*:focus-visible {
  @apply outline-2 outline-offset-2 outline-primary;
}

.description table {
  @apply text-sm;
  border: 1px solid var(--surface-color);
  background: var(--background-color);
}

.description th {
  @apply font-semibold;
}

.description th,
.description td {
  @apply border border-gray-700 px-2 py-1;
}

.levels {
  @apply w-fit rounded;
  background: var(--background-color);
}

.levels th {
  @apply px-3 py-1.5 text-center text-sm text-disabled;
}

.levels td {
  @apply px-3 py-1.5 text-center;
}

.levels tbody tr:nth-child(odd) {
  background-color: var(--surface-color);
}

.levels .tag {
  @apply mb-0;
}
